{% from "_includes/forms" import textField, lightswitchField, autosuggestField, booleanMenuField %}

{{ booleanMenuField({
  label: "Should commerce send cart information to gateway when making transactions."|t('commerce'),
  id: 'sendCartInfo',
  name: 'sendCartInfo',
  value: gateway.sendCartInfo(false),
  includeEnvVars: true,
  errors: gateway.getErrors('sendCartInfo'),
}) }}

{{ autosuggestField({
  label: 'Vendor'|t('commerce'),
  id: 'vendor',
  class: 'ltr',
  name: 'vendor',
  suggestEnvVars: true,
  value: gateway.getVendor(false),
  errors: gateway.getErrors('vendor')
}) }}

{{ booleanMenuField({
  label: "Test mode?"|t('commerce'),
  name: 'testMode',
  value: gateway.getTestMode(false),
  includeEnvVars: true,
  errors: gateway.getErrors('testMode'),
}) }}

{{ autosuggestField({
  label: "Referrer ID"|t('commerce'),
  id: 'referrerId',
  class: 'ltr',
  name: 'referrerId',
  suggestEnvVars: true,
  value: gateway.getReferrerId(false),
  errors: gateway.getErrors('referrerId')
}) }}

{{ booleanMenuField({
  label: "Use legacy basket format?"|t('commerce'),
  instructions: 'Whether the <a href="https://github.com/thephpleague/omnipay-sagepay#basket-format" target="_blank">legacy basket format</a> should be used.'|t('commerce'),
  name: 'useOldBasketFormat',
  value: gateway.useOldBasketFormat,
  includeEnvVars: true,
  errors: gateway.getErrors('useOldBasketFormat'),
}) }}

{{ booleanMenuField({
  label: "Use low profile payment form?"|t('commerce'),
  instructions: 'Whether the payment form should be optimised for inclusion as iframe.'|t('commerce'),
  name: 'useLowProfile',
  value: gateway.getUseLowProfile(false),
  includeEnvVars: true,
  errors: gateway.getErrors('useLowProfile'),
}) }}
